body {
    background-color: #fff9d9;
}

section {
    padding: 2.5em 0px;
}


h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Début Header section */

header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 99999999;
    top: 0;
}

.logoContainer {
    width: 226px;
    height: 111px;
}

.logoContainer>a {
    width: 100%;
    height: 130%;
}

.logoContainer>a>img {
    width: 70%;
    height: 100%;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0 1.5em
}

.nav-link:hover {
    color: #D4AF37;
}

.headerIconeContainer {
    border-left: black solid 1px;
    padding-left: 1.2em;
}

.headerIconeContainer>a {
    color: black;
    margin-left: 0.5em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    display: inline-block;
}

.headerIconeContainer>a:hover {
    transform: translateY(-5px);
}

/* Fin Header section */




/* Début Hero section */

.heroSection {
    background-image: url("Images/heroBgCover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 150px;
}

.heroSection>div {
    justify-items: center;
}

.heroSectionContent {
    background-color: #5f4b4b7a;
    width: 65%;
    padding: 2em;
}

.heroSectionBtnContainer {
    margin-top: 2em;
}

.realisation {
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 50px;
    transition: all 0.3s ease;
}

.realisation:hover {
    transform: scale(1.05);
}

.showroom {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 1px solid #D4D4D4;
    transition: all 0.3s ease;
}

.showroom:hover {
    transform: scale(1.05);
}

.heroSectionContent>h1 {
    font-family: "Playfair Display", serif;
    color: #D4AF37;
    font-size: 48px;
}

.heroSectionContent>p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
    line-height: 28px;
}

/* Fin Hero section */

/* Début about section */

.aboutSection {
    text-align: center;
}

.aboutSection>p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 30px 0;
}



.aboutSection>a {
    display: inline-block;
    background-color: #2C2C2C;
    padding: 0.5em 1.1em;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

.aboutSection>a:hover {
    color: #2C2C2C;
    background-color: white;
    transform: scale(1.05);
}

/* Fin about section */




/* Début collaborate section */

.collaborateSection {}

.subtitle {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    margin: 1.8em 0 3.9em 0;
}


.collaborateItemsContainer>.row {
    gap: 2em;
    justify-content: center;
}

.collaborateItem{
    background-color: #FFFFFF;
    padding: 2em;
    box-shadow: 1px 1px 10px rgb(175, 172, 172);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.collaborateItem:hover {
    box-shadow: 1px 1px 10px rgb(136, 134, 134);
}

.itemTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.itemTitle>i {
    margin-right: 10px;
}

.itemDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 1.2em;

}

.itemListContainer {
    padding-left: 20px;
}

.itemListContainer>li {
    line-height: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Fin collaborate section */




/* Début processus section */

.processusSection,
.testimonySection {
    background-color: #807E7380;
    color: white;
}

.processusItemsContainer {
    margin-top: 2em;
    margin-bottom: 2em;
}

.processusItemsContainer>.row{
justify-items: center;
}

.processusItem {
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.processusItem:hover {
    transform: translateY(-10px);
}

.processusItem>i {
    font-size: 3em;
    color: black;
}

.processusItem>p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.processusDescription {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Fin processus section */

/* Début Services section */

.servicesSection {
    background-color: #B9B7AA80;
    margin-top: 2em;
    margin-bottom: 2em;
}

.servicesSection > div> .container> .row{
    align-items: center;
}


.servicesSectionParagraphContainer {
    background-color: #52525280;
    padding: 2em;
    color: white;
}

.servicesSectionParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.carousel-item {
    height: 320px;
}

.serviceItem {
    background-color: #FAFAFACC;
    padding: 3em;
    height: 100%;
}

.serviceItemIcone {
    background-color: #E5E7EB;
    padding: 1.5em;
    border-radius: 10px;
    width: 6em;
    text-align: center;
    margin-bottom: 20px;
}

.serviceItemIcone>i {
    font-size: 2.5em;
}

.serviceItem>h6 {
    font-family: "Poppins", sans-serif;
}

.serviceItem>p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}


.servicesSectionBtnContainer {
    text-align: center;
    margin-top: 2em;
}

.servicesSectionBtnContainer>a {
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}

.servicesSectionBtnContainer>a:hover {
    transform: scale(1.05);
}


/* Fin Services section */

/* Début Testimony section */

.testimonyItemsContainer {
    margin: 2em 0;
}

.testimonyItem {
    background-color: #FFFFFF;
    padding: 2em;
    box-shadow: 1px 1px 10px rgb(175, 172, 172);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
}

.testimonyItem:hover {
    box-shadow: 1px 1px 20px rgb(94, 83, 83);
}

.testimonyItem>.row {
    align-items: center;
}


.testimonyItemCover {
    width: 100%;
    border-radius: 5px;
}

.testimonyItemName {
    font-family: "Poppins", sans-serif;

}

.testimonyItemRateContainer>i {
    color: #D4AF37;
    margin: 0 2px;
}

.testimonyItemParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 1.5em;
}

/* Fin Testimony section */


/* Début expertise section */

.expertiseSection {
    background-color: #807E7380;
    color: white;
    margin-top: 2em;
}

.expertiseItemsContainer {
    margin: 2em 0;
}

.expertiseItemIconeContainer {
    text-align: center;
}

.expertiseItemParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 1.5em;

}

/* Fin expertise section */

/* Début Footer section */

footer {
    background-color: #000000;
    padding: 2em 0;
}

.footerOverCopyright {
    padding: 2em 0;
}

.footerSiteName {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.footerParagraphUnderSiteName {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 0.88em;
    margin: 1.5em 0;
}

.footerIconeContainerUnderParagraphSiteName>a {
    color: white;
    text-decoration: none;
    margin-right: 1.8em;
    font-size: 1.3em;
}

.footerServiceContainer>h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.footerServiceContainer>ul {
    margin: 1.1em 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding: 0 19px;
    line-height: 1.9em;

}

.footerServiceContainer>ul>li {
    font-size: 0.9em;
}

.footerEvementContainer>h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.footerEvementContainer>ul {
    margin: 1.1em 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding: 0 19px;
    line-height: 1.9em;

}

.footerEvementContainer>ul>li {
    font-size: 0.9em;
}

.footerContactContainer>h5 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.footerContactItemsContainer {
    margin: 1.1em 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    line-height: 2em;
}


.footerContactItem>span>i {
    margin-right: 0.4em;
    font-size: 0.9em;
}

.footerContactItem>a>i {
    margin-right: 0.4em;
    font-size: 0.9em;
}

.footerContactItem>span {
    font-size: 0.9em;
}

.footerContactItem>a {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    display: inline;
}

.footerCopyright {
    border-top: solid 1px rgb(110, 104, 104);
}

.footerCopyright>p {
    text-align: center;
    padding-top: 2em;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 0.8em;
}

/* Fin Footer section */

.portfolioBtnCOntainer{
    text-align: center;

    margin-top: 2em;
}

.portfolioBtnCOntainer > a{
    text-decoration: none;

   background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 12px 35px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;    font-family: "Poppins", sans-serif;

}