body {
    background-color: #fff9d9;
}

section {
    padding: 2.5em 0px;
}


h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Début Hero section */

.heroSection {
    border: red solid 1px;
    background-image: url("Images/heroBgCover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroSection>div {
    justify-items: center;
}

.heroSectionContent {
    background-color: rgba(219, 77, 77, 0.356);
    width: 70%;
    padding: 2em;
}

.heroSectionBtnContainer{
    margin-top: 2em;
}

.realisation {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 50px;
}

.showroom{
 color: white;
    background-color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border : 1px solid #D4D4D4
}

.heroSectionContent>h1 {
    font-family: "Playfair Display", serif;
    color: #D4AF37;
    font-size: 48px;
}

.heroSectionContent>p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
    line-height: 28px;
}

/* Fin Hero section */

/* Début about section */

.aboutSection {
    text-align: center;
}

.aboutSection>p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 30px 0;
}



.aboutSection>a {
    display: inline-block;
    background-color: #2C2C2C;
    padding: 0.5em 1.1em;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

.aboutSection>a:hover {
    color: #2C2C2C;
    background-color: white;
    transform: scale(1.05);
}

/* Fin about section */




/* Début collaborate section */

.collaborateSection {}

.subtitle {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    margin: 1.8em 0 3.9em 0;
}


.collaborateItems>.row {
    gap: 2em;
    justify-content: center;
}

.collaborateItems>.row>.col-10,
.collaborateItems>.row>.col-5 {
    background-color: #FFFFFF;
    padding: 2em;
    box-shadow: 1px 1px 10px rgb(175, 172, 172);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.collaborateItems>.row>.col-10,
.collaborateItems>.row>.col-5:hover {
    box-shadow: 1px 1px 10px rgb(136, 134, 134);
}

.itemTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.itemTitle>i {
    margin-right: 10px;
}

.itemDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 1.2em;

}

.itemListContainer {
    padding-left: 20px;
}

.itemListContainer>li {
    line-height: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Fin collaborate section */




/* Début processus section */

.processusSection,
.testimonySection {
    background-color: #807E7380;
    color: white;
}

.processusItemsContainer {
    margin-top: 2em;
    margin-bottom: 2em;
}

.processusItemsContainer>.row>.col {
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.processusItemsContainer>.row>.col:hover {
    transform: translateY(-10px);
}

.processusItemsContainer>.row>.col>i {
    font-size: 3em;
    color: black;
}

.processusItemsContainer>.row>.col>p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.processusDescription {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


/* Fin processus section */

/* Début Testimony section */

.testimonyItemsContainer {
    margin: 2em 0;
}

.testimonyItem {
    background-color: #FFFFFF;
    padding: 2em;
    box-shadow: 1px 1px 10px rgb(175, 172, 172);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
}

.testimonyItem:hover {
    box-shadow: 1px 1px 20px rgb(94, 83, 83);
}

.testimonyItem>.row {
    align-items: center;
}

.testimonyItemCoverContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.testimonyItemCover {
    width: 100%;
    height: 150%;
    object-fit: cover;
    border-radius: 20%;

}

.testimonyItemName {
    font-family: "Poppins", sans-serif;

}

.testimonyItemRateContainer>i {
    color: #D4AF37;
    margin: 0 2px;
}

.testimonyItemParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 1.5em;
}

/* Fin Testimony section */


/* Début expertise section */

.expertiseSection {
    background-color: #807E7380;
    color: white;
    margin-top: 2em;
}

.expertiseItemsContainer {
    margin: 2em 0;
}

.expertiseItemIconeContainer {
    text-align: center;
}

.expertiseItemParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 1.5em;

}

/* Fin expertise section */